header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav a.logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

button#mostrar-tamaño-arreglo {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.meriendas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.merienda {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
}

.merienda h3 {
    font-weight: bold;
}

.merienda p {
    font-size: 16px;
}
